<!DOCTYPE html>
<html data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        >
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            defer
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
        <title>Page Title</title> <!-- Edit -->
        <meta name="description" content="Your Content"> <!-- Edit -->
        <meta name="keywords" content="Keyword1, Keyword2, Keyword3, etc"> <!-- Edit -->
        <meta name="author" content="Jane Doe"> <!-- Edit -->
        <link rel="icon" href="Link to favicon "> <!-- Edit -->

        <meta name="twitter:card" content="summary_large_image"> <!-- Edit -->
        <meta name="twitter:title" content="Insert Title Here"> <!-- Edit -->
        <meta name="twitter:description" content="Insert Desc Here"> <!-- Edit -->
        <meta name="twitter:image" content="Insert Image URL here"> <!-- Edit -->


        <meta property="og:title" content="Insert Title Here"> <!-- Edit -->
        <meta property="og:description" content="Insert Desc Here"> <!-- Edit -->
        <meta property="og:image" content="Insert Image URL here"> <!-- Edit -->
        <meta property="og:type" content="website">

        <link rel="canonical" href="link main page here"> <!-- Edit -->
        <meta name="robots" content="index, follow">

    </head>
    <body>

        <!-- Header -->

        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img src="../static/logo.png" class="rounded-circle" alt="LogoOfInsertCompany" style="height:40px;">  <!-- Edit -->
                    </a>
                </div>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li> <!-- Edit -->
                    <li><a href="#" class="nav-link px-2">Features</a></li> <!-- Edit -->
                    <li><a href="#" class="nav-link px-2">Pricing</a></li> <!-- Edit -->
                    <li><a href="#" class="nav-link px-2">FAQs</a></li> <!-- Edit -->
                    <li><a href="#" class="nav-link px-2">About</a></li> <!-- Edit -->
                </ul>
                <div class="col-md-3 text-end"> <button type="button" class="btn btn-outline-primary me-2">Login</button> <button type="button" class="btn btn-primary">Sign-up</button> </div> <!-- Edit -->
            </header>
        </div>

        <!-- Hero -->
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6"> <img src="../static/exampleImage1.png" class=" rounded-4 d-block mx-lg-auto img-fluid" alt="PicOfShop/Company" width="700" height="500" loading="lazy"> </div> <!-- Edit -->
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                        Lorem ipsum dolor sit amet <!-- Edit -->
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin 
                        sollicitudin mi viverra viverra vulputate. In id ultricies turpis,
                        sit amet consequat nisl. Suspendisse diam ligula, iaculis sed augue
                        dignissim, porta volutpat risus. Aliquam viverra, justo vitae laoreet 
                        pulvinar, ipsum ligula ullamcorper metus, semper vehicula turpis est
                        non elit. Donec imperdiet blandit dapibus. Donec eu orci mi. Ut quis
                        nisl fringilla, fermentum dui vel, lobortis ante. Aenean gravida
                        est sem, non tempus dui congue quis. Fusce placerat, turpis nec 
                        tempor mattis, nulla arcu consequat massa, sit amet blandit mauris
                        ipsum quis massa. Morbi suscipit tellus massa, mattis efficitur massa
                        tincidunt in. <!-- Edit -->                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start"> <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> </div> <!-- Edit -->
                </div>
            </div>
        </div>

        
        <!-- Feature 1 -->
         <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2 border-bottom">Icon grid</h2> <!-- Edit -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> <!-- Edit -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">


                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>     <!-- Edit -->                </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">

                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    <!-- Edit -->                 </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">

                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>     <!-- Edit -->                </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">

                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    <!-- Edit -->                 </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">
 
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>     <!-- Edit -->                </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">

                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    <!-- Edit -->                </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="../static/exampleImage1.png" 
     class="text-body-secondary flex-shrink-0 me-3 rounded-circle" 
     style="width:1.75em; height:1.75em;" 
     alt="">

                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lorem Ipsum</h3> <!-- Edit -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>     <!-- Edit -->                </div>
                </div>
            </div>
        </div>


        <!-- Feature 2 -->
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Custom cards</h2> <!-- Edit -->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/exampleImage3.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Lorem ipsum dolor sit amet</h3> <!-- Edit -->
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                            <img src="../static/exampleImage4.png"
                                class="me-2 rounded-circle"
                                style="width:1em; height:1em;"
                                alt="Location">
                                <small>Lorem</small>  <!-- Edit -->
                            </li>
                                <img src="../static/exampleImage3.png"
                                    class="me-2 rounded-circle"
                                    style="width:1em; height:1em;"
                                    alt="Duration">
                                <small>Ips</small>  <!-- Edit -->
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/exampleImage3.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Lorem ipsum dolor sit amet</h3> <!-- Edit -->
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                            <img src="../static/exampleImage4.png"
                                class="me-2 rounded-circle"
                                style="width:1em; height:1em;"
                                alt="Location">
                                <small>Lorem</small>  <!-- Edit -->
                            </li>
                                <img src="../static/exampleImage3.png"
                                    class="me-2 rounded-circle"
                                    style="width:1em; height:1em;"
                                    alt="Duration">
                                <small>Ips</small>  <!-- Edit -->
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/exampleImage3.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Lorem ipsum dolor sit amet</h3> <!-- Edit -->
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                            <img src="../static/exampleImage4.png"
                                class="me-2 rounded-circle"
                                style="width:1em; height:1em;"
                                alt="Location">
                                <small>Lorem</small>  <!-- Edit -->
                            </li>
                                <img src="../static/exampleImage3.png"
                                    class="me-2 rounded-circle"
                                    style="width:1em; height:1em;"
                                    alt="Duration">
                                <small>Ips</small>  <!-- Edit -->
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- List Group 1 -->
         <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="../static/exampleImage4.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0"> 
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small> 
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="../static/exampleImage4.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0"> 
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
                        </div>
                        <small class="opacity-50 text-nowrap">3d</small> 
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="../static/exampleImage4.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0"> 
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Third heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                        </div>
                        <small class="opacity-50 text-nowrap">1w</small> 
                    </div>
                </a>
            </div>
        </div>

        <!-- Footer -->
         <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Logo"> <!-- Edit -->
                        <img src="../static/logo.png"
                        class="bi rounded-circle"
                        width="30"
                        height="24"
                        alt=""> <!-- Edit -->
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> 
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#" aria-label="Instagram">
                        <svg class="bi" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#instagram"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#" aria-label="Facebook">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg>
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>